/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*INTEL XDK base css*/
/*
 * Please see the included README.md file for license terms and conditions.
 */

/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}

.align-center {
    text-align: center ;
}

/*App Styles*/

/*workaround to show before everything starts*/
/*.initial{
    background-color: #000;
}*/

/*Utilities*/
.hide{
    display: none;
}
.icon-next{
    display: block;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    float: left;
    background-position: center;
}
.icon-user{
    display: block;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    float: left;
    background-position: center;
}
.dark{
    color: #F0F1F1;
    background: #4A4D4E;
}

/*Sidebar*/
.sidebar{

}

/*Main content*/
#container{
    
    .top-bar{
        width: 100%;
        height: 40px;
        background-color: black;
        
        .hamburger{
            cursor: pointer;
            margin-left: 7px;
            width: 30px;
            height: 30px;
            background-image: url(../img/hamburger_light.svg);
            background-repeat: no-repeat;
        }  
    }
    
    .page{
        margin-top: 40px;
        
        .clickable{
            cursor: pointer;
        }
        .heading{
            color: white;
            font-family: "Source Sans Pro","source-sans-pro","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif!important;
        }
        .heading1{
            font-size: 45px;
            font-weight: bold;
        }
        .heading2{
            font-size: 32px;
            font-weight: bold;
            
            .left, &.left{
                text-align: left;
                padding-left: 22px;
            }
        }

        .landing{
            height: 100%;
            
            header{
                height: 50%;
                background-image: url(../img/autumn.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: table;
                width: 100%;
                
                p{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            
           section{
                height: 20%;
                width: 100%;
                display: table;
               
                div{
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 10%;
                    padding-right: 10%;
                    
                    button{
                        width: 100%;
                        display: block;
                    }
                }
               
            }

        }
        
        .profile{
            height: 100%;
            padding-top: 30px;
        }

    }

}